# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pytest_cache

# Virtual environments
venv/
.venv/

# Config / secrets (ejemplo, si tuvieras un .env local)
.env

# Git
.git
.gitignore

# IDE / Editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Byte-compiled / compiled files
*.so
*.dylib

# Ignores para Docker
docker-compose.yml
